<meta charset='utf-8'>
<meta name='viewport' content='width=device-width' , initial-scale='1.0' />
<meta name='Author' content='Luis Boavida'>
<meta name='description' content='{{title}} page'> <!-- DESCOBRIR COMO FAZER SEM O GENERAL DATA-->
<title>{{title}}</title> <!-- DESCOBRIR COMO FAZER SEM O GENERAL DATA-->

<link href='{{host}}/css/common.css' type='text/css' rel='stylesheet' />
<script src='{{host}}/js/common.js'></script>

<link href='{{host}}/css/partials/header.css' type='text/css' rel='stylesheet' />

{{#if Login}}
    <link href='{{host}}/css/login.css' type='text/css' rel='stylesheet' />
{{/if}}

{{#if Register}}
    <link href='{{host}}/css/register.css' type='text/css' rel='stylesheet' />
    <script src='{{host}}/js/register.js'></script>
{{/if}}

{{#if sendParcel}}
    <link href='{{host}}/css/sendParcel.css' type='text/css' rel='stylesheet' />
{{/if}}

{{#if homepage}}
    <link href='{{host}}/css/homepage.css' type='text/css' rel='stylesheet' />
    <script src='{{host}}/js/homepage.js'></script>
{{/if}}

{{#if availableParcels}}
    <link href='{{host}}/css/homepage.css' type='text/css' rel='stylesheet' />
    <link href='{{host}}/css/availableParcels.css' type='text/css' rel='stylesheet' />
    <script src='{{host}}/js/availableParcels.js'></script>
{{/if}}

{{#if deliveryScreen}}
    <link href='{{host}}/css/homepage.css' type='text/css' rel='stylesheet' />
    <link href='{{host}}/css/deliveryScreen.css' type='text/css' rel='stylesheet' />
    <script src='{{host}}/js/deliveryScreen.js'></script>
{{/if}}
