
{{#if parcels}}
    <h1>Your parcels</h1>
    {{#each parcels}}
        <section>
            <h2>{{this.parcelName}}</h2>
            <p>Destination: {{this.destinationAddress}}</p>
            <p>{{this.dateAndTimeAdded}}</p>
            <p>Status: <b>{{this.parcelStatus}}</b></p>
        </section>
        {{/each}}
{{else}}
    <h1>You don't have any parcels yet, click Send Parcel to send one</h1>
{{/if}}
